#browser-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.browser {
    width: 75%;
    height: 75%;
    border-style: solid;
    border-width: 2px;
    border-color: #1f2c39;
    right: 0;
    border-radius: 10px;
    overflow: hidden;
    margin: 2em auto;
    left: 0;
}

.top-bar {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: solid 2px #1f2c39;
    z-index: 2;
}

.dot {
    position: relative;
    display: inline-block;
    padding: 6px;
    border-radius: 100%;
    margin-left: 10px;
}

.dot:nth-child(1){
    background: #E71D36;
}

.dot:nth-child(2){
    background: #FF9F1C;
}

.dot:nth-child(3){
    background: #2EC4B6;
}

.dot:nth-child(1) {
    margin-left: 7px;
}

#tabs-1, #tabs-2, #tabs-3 {
    top: 0;
    width: 100%;
    height: 100%;
    background: #FDFFFC;
}

#tabs-1 {
}

#tabs-2 {
}

#tabs-3 {
}

.browser-tabs {
    position: absolute;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
    display: flex;
    justify-content: flex-start;
    width: 75%;
    overflow: hidden;
}
.browser-tabs:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #77818C;
    z-index: 1;
}

.browser-tabs:before {
    z-index: 1;
  }
.browser-tabs li {
    position: relative;
    z-index: 0;
    padding: 0 10px;
    border-top: 2px solid #77818C;
    border-left: 2px solid #77818C;
    border-right: 2px solid #77818C;
    margin-right: -2px;
    background: rgb(236, 240, 241);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
}

.browser-tabs li.active {
    z-index: 2;
    border-bottom-color: #FDFFFC;
    background: #FDFFFC;
    color: #1f2c39;
}


@keyframes toleftR{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-254px)
    }
}

@keyframes toleftO{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-188px)
    }
}

@keyframes toleftG{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-130px)
    }
}

@keyframes toleftB{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-62px)
    }
}

.square {
    background-color: rgb(236, 240, 241);
    text-align: center;
    z-index: 1;
    animation-duration: 0.96s;
    animation-name: updownR;
    width: 60px;
    height: 60px;
}

.square .face{
    height: 10px;
    width: 20px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    background: #FDFFFC;
    margin: 0 auto;
    margin-top: 25px;
}

.square .face:after, .square .face:before {
    content: "";
    position:absolute;
    width: 0;
    height: 0;
    border-color: inherit; 
    border: 3px solid;
    border-radius: 50%;
    top: 20px;
    border-color: inherit;
}
.square .face:after {
    left: 8px;
}
.square .face:before {
    left: 45px;
}


.box {
    margin-bottom: 100px;
    width: 20px;
    height: 30px;
    background-color: #FF9F1C;
    z-index: 0;
    animation-duration: 1.44s;
    animation-name: updownO;
}

.box .face {
    position: absolute;
    top: 14px;
    left: 32px;
}
.box:before {
    width: 15px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    content: "";
    top: -2px;
    right: -16px;
    background: inherit;
    border: inherit;
}

.box .face:after, .box .face:before {
    content: "";
    position:absolute;
    width: 0;
    height: 0;
    border-color: inherit; 
    border: 2px solid;
    border-radius: 50%;
    top: -6px;
    border-color: inherit;
}

.box .face:before{
    left: -10px;
}

.box .face:after{
    left: -2px;
}
.dude {
    border: 2px solid;  
    padding: 0;
    z-index: 2;
    border-color: #1f2c39;
    border-radius: 6px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.rectangle {
    width: 20px;
    height: 20px;
    background: #2EC4B6;
    animation-duration: .48s;
    animation-name: updownG;
}

.circle {
    margin-bottom: 50px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #005499;
    animation-duration: .24s;
    animation-name: updownB;
}

@keyframes updownR {
    0%{
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    50%{
        transform: translateY(-96px);
        animation-timing-function: cubic-bezier(.50,0,1,.50) ;
    }
}

@keyframes updownO {
    0%{
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);     
    }
    25%{
        transform: translateY(75px) rotateZ(90deg);
        animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
    }
    50%{
        transform: translateY(0px) rotateZ(180deg);
        animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
    }
    75%{
        transform: translateY(75px) rotateZ(270deg);
        animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
    }
    100%{
        transform: translateY(0px) rotateZ(360deg);
        animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
    }
}

@keyframes updownG {
    0%{
        transform: translateY(0px) skewX(-25deg) scale(0.8,1.8);
        animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    50%{
        transform: translateY(-50px);
        animation-timing-function: cubic-bezier(.50,0,1,.50) ;
    }
    100%{
         transform: translateY(0px) skewX(25deg) scale(0.8,1.8);
    }
}

@keyframes updownB {
    0%{
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(.50,0,1,.50);
    }
    50%{
        transform: translateY(25px) scale(1.2,1);
        animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    100%{
        transform: translateY(0px);
    }
}
.animation {
    position: relative;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-around;
    align-self: flex-end;
}