
#desktop-background {
    position: absolute;
    bottom: 0;
    z-index: -1;
}
#main-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#browser-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 2;
}

.browser {
    width: 75%;
    border-style: solid;
    border-width: 4px;
    border-color: #1f2c39;
    background: #FDFFFC;
    border-radius: 10px;
    overflow-y: unset;
    margin: 0 auto;
    left: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    top: 10%;
    display: flex;
    flex-direction: column;
    height: inherit;
}

.browser.maximized{
    width:calc(100% - 8px);
    height: calc(95% - 8px);
    max-height: unset;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.top-bar {
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: solid 2px #1f2c39;
    z-index: 2;
}

.dot {
    position: relative;
    display: inline-block;
    padding: 1.25vm;
    padding: 1.25vmin;
    border-radius: 100%;
    margin-left: 1.5vm;
    margin-left: 1.5vmin;
    -webkit-transition: padding 0.5s;
    transition: padding 0.5s;
    cursor: pointer;
}

.dot:hover, .dot:active{
    padding: 1.5vm;
    padding: 1.5vmin;
}

.dot:nth-child(1){
    background: #E71D36;
}

.dot:nth-child(2){
    background: #FF9F1C;
}

.dot:nth-child(3){
    background: #2EC4B6;
}

.dot:nth-child(1) {
    margin-left: 7px;
}

[id^='tabs-content'] {
    padding: 0 2vm 2vm 2vm;
    padding: 0 2vmin 2vmin 2vmin;
    background: #FDFFFC;
    border-radius: 0 0 8px 8px;
    overflow-y: auto;
    height: inherit;
}

.tab-content.maximized {
    max-height: unset;
}

.tab-content.hide{
    display: none;
    opacity: 0;
}

.tab-content .icon-title{
    font-weight: bold;
    padding-bottom: 1vm;
    padding-bottom: 1vmin;
    margin-bottom: 2vm;
    margin-bottom: 2vmin;
    border-bottom: 1px solid #77818C;
}

.browser-tabs {
    padding-top: 10px;
    text-align: center;
    list-style: none;
    padding: 0;
    line-height: 24px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-x: auto;
    background: #FDFFFC;
    z-index: 1;
    flex-shrink: 0;
    flex-grow: 0;
}

.browser-tabs:after {
    content: "";
    width: 100%;
    border-bottom: 2px solid #77818C;
    z-index: 1;
}

.browser-tabs:before {
    z-index: 1;
  }
.browser-tabs li {
    position: relative;
    z-index: 0;
    padding: 0 10px;
    border-top: 2px solid #77818C;
    border-left: 2px solid #77818C;
    border-right: 2px solid #77818C;
    border-bottom: 2px solid #77818C;
    margin-right: -2px;
    background: rgb(236, 240, 241);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #77818C;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
}

.browser-tabs li.active {
    z-index: 2;
    border-bottom-color: #FDFFFC;
    border-bottom: 0;
    background: #FDFFFC;
    font-weight: bolder;
    color: #1f2c39;
}

.square {
    background-color: rgb(236, 240, 241);
    text-align: center;
    z-index: 1;
    width: 50px;
    height: 50px;
}

.square .face{
    height: 8px;
    width: 18px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    background: #FDFFFC;
    margin: 0 auto;
    margin-top: 25px;
}

.square .face:after, .square .face:before {
    content: "";
    position:absolute;
    width: 0;
    height: 0;
    border-color: inherit; 
    border: 3px solid;
    border-radius: 50%;
    top: 15px;
    border-color: inherit;
}
.square .face:after {
    left: 8px;
}
.square .face:before {
    right: 8px;
}

.box {
    margin-right: 15px;
    width: 20px;
    height: 30px;
    background-color: #FF9F1C;
}

.box .face {
    position: absolute;
    top: 14px;
    left: 32px;
}
.box:before {
    width: 15px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    content: "";
    /* top: -4px; */
    right: -16px;
    background: inherit;
    border: inherit;
}

.box .face:after, .box .face:before {
    content: "";
    position:absolute;
    width: 0;
    height: 0;
    border-color: inherit; 
    border: 2px solid;
    border-radius: 50%;
    top: -6px;
    border-color: inherit;
}

.box .face:before{
    /* left: -14px; */
    left: -8px;
}

.box .face:after{
    /* left: -4px; */
    left: -2px;
}
.dude {
    position: relative;
    /* border: 4px solid;   */
    padding: 0;
    z-index: 2;
    border-color: #1f2c39;
    border-radius: 6px;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
.rectangle {
    width: 20px;
    height: 20px;
    background: #2EC4B6;
}

.circle {
    margin-bottom: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #005499; 
}

.square.animated{
    -webkit-animation-duration: 0.96s;
            animation-duration: 0.96s;
    -webkit-animation-name: updownSquare;
            animation-name: updownSquare;
}
.box.animated{
    -webkit-animation-duration: 1.44s;
            animation-duration: 1.44s;
    -webkit-animation-name: updownBox;
            animation-name: updownBox;
}
.rectangle.animated{
    -webkit-animation-duration: .48s;
            animation-duration: .48s;
    -webkit-animation-name: updownRectangle;
            animation-name: updownRectangle;
}
.circle.animated {
    -webkit-animation-duration: .4s;
            animation-duration: .4s;
    -webkit-animation-name: updownCircle;
            animation-name: updownCircle;
}

@-webkit-keyframes updownSquare {
    0%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
        -webkit-animation-timing-function: cubic-bezier(0,.50,.50,1);
                animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    50%{
        -webkit-transform: translateY(-25%);
                transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.50,0,1,.50) ;
                animation-timing-function: cubic-bezier(.50,0,1,.50) ;
    }
}

@keyframes updownSquare {
    0%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
        -webkit-animation-timing-function: cubic-bezier(0,.50,.50,1);
                animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    50%{
        -webkit-transform: translateY(-25%);
                transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.50,0,1,.50) ;
                animation-timing-function: cubic-bezier(.50,0,1,.50) ;
    }
}

@-webkit-keyframes updownBox {
    0%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
        -webkit-animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
                animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);     
    }
    25%{
        -webkit-transform: translateY(50%) rotateZ(90deg);
                transform: translateY(50%) rotateZ(90deg);
        -webkit-animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
                animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
    }
    50%{
        -webkit-transform: translateY(0%) rotateZ(180deg);
                transform: translateY(0%) rotateZ(180deg);
        -webkit-animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
                animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
    }
    75%{
        -webkit-transform: translateY(50%) rotateZ(270deg);
                transform: translateY(50%) rotateZ(270deg);
        -webkit-animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
                animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
    }
    100%{
        -webkit-transform: translateY(0%) rotateZ(360deg);
                transform: translateY(0%) rotateZ(360deg);
        -webkit-animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
                animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
    }
}

@keyframes updownBox {
    0%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
        -webkit-animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
                animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);     
    }
    25%{
        -webkit-transform: translateY(50%) rotateZ(90deg);
                transform: translateY(50%) rotateZ(90deg);
        -webkit-animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
                animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
    }
    50%{
        -webkit-transform: translateY(0%) rotateZ(180deg);
                transform: translateY(0%) rotateZ(180deg);
        -webkit-animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
                animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
    }
    75%{
        -webkit-transform: translateY(50%) rotateZ(270deg);
                transform: translateY(50%) rotateZ(270deg);
        -webkit-animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
                animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
    }
    100%{
        -webkit-transform: translateY(0%) rotateZ(360deg);
                transform: translateY(0%) rotateZ(360deg);
        -webkit-animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
                animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
    }
}

@-webkit-keyframes updownRectangle {
    33%{
        -webkit-transform: translateY(0%) skewX(-10deg) scale(0.8,1.8);
                transform: translateY(0%) skewX(-10deg) scale(0.8,1.8);
        -webkit-animation-timing-function: cubic-bezier(0,.50,.50,1);
                animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    66%{
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        -webkit-animation-timing-function: cubic-bezier(.50,0,1,.50) ;
                animation-timing-function: cubic-bezier(.50,0,1,.50) ;
    }
    100%{
         -webkit-transform: translateY(0%) skewX(10deg) scale(0.8,1.8);
                 transform: translateY(0%) skewX(10deg) scale(0.8,1.8);
    }
}

@keyframes updownRectangle {
    33%{
        -webkit-transform: translateY(0%) skewX(-10deg) scale(0.8,1.8);
                transform: translateY(0%) skewX(-10deg) scale(0.8,1.8);
        -webkit-animation-timing-function: cubic-bezier(0,.50,.50,1);
                animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    66%{
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        -webkit-animation-timing-function: cubic-bezier(.50,0,1,.50) ;
                animation-timing-function: cubic-bezier(.50,0,1,.50) ;
    }
    100%{
         -webkit-transform: translateY(0%) skewX(10deg) scale(0.8,1.8);
                 transform: translateY(0%) skewX(10deg) scale(0.8,1.8);
    }
}

@-webkit-keyframes updownCircle {
    0%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
        -webkit-animation-timing-function: cubic-bezier(.50,0,1,.50);
                animation-timing-function: cubic-bezier(.50,0,1,.50);
    }
    50%{
        -webkit-transform: translateY(50%) scale(1.2,1);
                transform: translateY(50%) scale(1.2,1);
        -webkit-animation-timing-function: cubic-bezier(0,.50,.50,1);
                animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    100%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}

@keyframes updownCircle {
    0%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
        -webkit-animation-timing-function: cubic-bezier(.50,0,1,.50);
                animation-timing-function: cubic-bezier(.50,0,1,.50);
    }
    50%{
        -webkit-transform: translateY(50%) scale(1.2,1);
                transform: translateY(50%) scale(1.2,1);
        -webkit-animation-timing-function: cubic-bezier(0,.50,.50,1);
                animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    100%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}
.animation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
}

.animation .list-item {
    padding: 2vm;
    padding: 2vmin;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #77818C;
    width: -webkit-fill-available;
    width: -moz-available;
}

.animation .list-item span {
    flex-grow: 2;
    flex-shrink: 0;
    padding: 2vm;
    padding: 2vmin;
}

.task-bar{
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #1f2c39;
}

.start{
    position: absolute;
    bottom: 5%;
    left:0;
    border: 2px solid #1f2c39;
    border-radius: 0 5px 0 0;
    background: #FDFFFC; 
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    display: none;
}

.start-button {
    padding: 5px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    color: #FDFFFC;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.start-button:hover, .start-button:active{
    font-weight: bolder;
    color: #005499;
}

#minimized-window{
    width: 0%;
    opacity: 0;
    background: #FDFFFC;
    height: 80%;
    border-radius: 6px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

#window-name{
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}

.project-group{
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.project-group.vertical{
    flex-direction: column;
    align-items: flex-start;
}

.project-title{

    flex-shrink: 1;
    flex-grow: 0;
    font-weight: 700;
    text-align: center;
}

.project-name{
    padding-bottom: 2vm;
    padding-bottom: 2vmin;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-links{
    padding: 0 2vm;
    padding: 0 2vmin;
    text-align: center;
    color: #005499;
}

.app-icon-container{
    width: 25%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 2vm;
    margin-right: 2vmin;
}

.app-icon-container.large{
    width: 50%;
}

.app-icon{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    flex-shrink: 0;
    flex-grow: 1;
}

.short-description{
    flex-shrink: 2;
    margin: 2vm 2vm 2vm 0;
    margin: 2vmin 2vmin 2vmin 0;
}

.video-container{
    
}

.project-preview{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.project-preview.watch-dogs2{
    background-image: url(../img/coding/ubisoft-watchdogs2.jpg);
    padding-top: 30%;
    background-position-x: center;
    background-position-y: center;
    border: 4px solid #77818C;
}

.project-preview.mcafee{
    background-image: url(../img/coding/mcafee-ui.png);
    padding-top: 30%;
    background-position-x: center;
    background-position-y: bottom;
    border: 4px solid rgb(236, 240, 241);
}

.project-preview.watch-dogs2.maximized{
    padding-top: 105%; /* height / width */
}

.project-preview.mcafee.maximized{
    padding-top: 93%; /* height / width */
}

.overflow{
    height: inherit;
    margin: 5vm 5vm 0 5vm;
    margin: 5vmin 5vmin 0 5vmin;
    overflow-y: auto !important;
}
/* -----------overwriting for gallery --*/
.grid-wrap {
    max-width: unset;
    padding: 0;
    display: flex;
    width: 75%;
    align-items: center;
}

.grid-gallery ul {
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
}

.number-list{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.slideshow li{
    width: 100%;
    height: 100%;
    left: 0;
}

.slideshow figure {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-device-width : 760px) {
    .browser-tabs{
        font-size: small;
    }
    .short-description{
        font-size: 12px;
    }
    .project-title{
        font-size: 14px;
    }
    .project-links{
        font-size: 11px;
    }
    .project-name{
        font-size: 14px;
    }
    .grid-wrap{
        font-size: 11px;
    }
    .dot {
        padding: 2vm;
        padding: 2vmin;
        margin-left: 1.5vm;
        margin-left: 1.5vmin;
    }
    .dot:hover, .dot:active{
        padding: 2.25vm;
        padding: 2.25vmin;
    }
}