/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-color: #FDFFFC;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.page{
    margin:auto;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.svg-container{
    
}

#svg-canvas{
    display: block;
    margin: auto;
}

.nav{
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    margin: auto;
    padding-left: 0;
    flex-wrap: wrap;
}

.btn {
    width: 100px;
    height: 100px;
    text-align:center;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    border-radius:50%;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    flex-shrink: 0;
}

.btn > svg{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.art{
    background-color: #E71D36;
}

.programming{
    background-color: #FF9F1C;
}

.resume{
    background-color: #2EC4B6;
}

.drawing-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accessory{
    position: absolute;
    height: auto;
    overflow: visible;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
    right:0;
    left:0;
}

.accessory .group{
    opacity: 0;
}

.message{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    
}

.message-title{
    font-size: -webkit-xxx-large;
    color: #1f2c39;
    margin: 2vh;
}

.message-body{
    font-size: large;
    color: #77818C;
}

.links{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.links button{
    padding: 8px 16px;
    border-radius: 5vh;
    border: 3px solid #1f2c39;
    opacity: 0;
}

.links button a{
    color: #FDFFFC;
    font-weight: bold;
}


/*---------------------resume---------------*/
#svg-timeline{
   position: absolute;
}
#timeline {
    background-color: #2EC4B6;
    height: 20px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }
#timeline .inside {
    position: absolute;
    height: 10px;
    background-color: #FDFFFC;
    width: 100%;
    top: 5px;
    right: 0;
  }
#timeline .dot {
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    cursor: pointer;
  }
#timeline .dot:nth-child(1) {
    left: 20%;
    background-color: #1f2c39;
    border: 1px solid #1f2c39;
    -webkit-transform: scale(0);
    transform: scale(0);
}
#timeline .dot:nth-child(1):hover {
    border: 1vh solid #1f2c39;
}

#timeline .dot:nth-child(2) {
    left: 40%;
    background-color: #005499;
    border: 1px solid #005499;
}

#timeline .dot:nth-child(2):hover {
    border: 1vh solid #005499;
}
#timeline .dot:nth-child(3) {
    left: 60%;
    background-color: #FF9F1C;
    border: 1px solid #FF9F1C;
}
#timeline .dot:nth-child(3):hover {
    border: 1vh solid #FF9F1C;
}
#timeline .dot:nth-child(4) {
    left: 80%;
    background-color: #E71D36;
    border: 1px solid #E71D36;
}
#timeline .dot:nth-child(4):hover {
    border: 1vh solid #E71D36;
}

#timeline .dot date {
    font-size: 1.1rem;
    display: block;
    position: relative;
    top: -60px;
    text-align: center;
  }
#timeline .dot span {
    display: inline-block;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    background-color: #FDFFFC;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
