/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-color: #FDFFFC;
}

html.touch body {
    overflow:hidden;
}

body{
    overflow: hidden;
}

a:visited{
    color: #005499 !important;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*--------------fonts-------*/
@font-face {
	font-family: 'Varela Round';
	src:url('../fonts/VarelaRound-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} 
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
/* @font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
} */
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
	font-weight: medium;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-MediumItalic.ttf') format('truetype');
	font-weight: medium;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
/*-----------------header--------*/
.header-nav {
    font-family: "Varela Round", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    flex-grow: 1;
    justify-content: space-around;
}

.header-nav.minimized{
    display: none;
}

.header{
    margin-top: 0;
    background: rgb(236, 240, 241);
    padding: 1vm;
    padding: 1vmin;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 50px;
    -webkit-transform-origin: center right;
            transform-origin: center right;
    border-radius: 10px;
    z-index: 2;
}

.header.yellow{
    background: #FF9F1C;
}

.header.red{
    background: #E71D36;
}

.header.blue{
    background: #005499;
}

.header.green{
    background: #2EC4B6;
}

.header.grey{
    background: #77818C;
}

.header-btn:not(.logo) {
    background: transparent;
    -webkit-transition: fill 0.8s;
    transition: fill 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.header-btn:not(.logo) svg{
    width: 40px;
}

.header-btn.logo{
    width: 50px;
    flex-shrink: 0;
    cursor: pointer;
}

.header-btn-title{
    color: #1f2c39;
    font-family: 'Varela Round', sans-serif;
    font-size: medium;
    font-weight: 300;
}
/* ----------used by more than one pages---------- */
.icon-title{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    margin: 1vm;
    margin: 1vmin;
}

.icon-title:before{
    content: "";
    height: 25px;
    width: 25px;
    margin-right: 1vm;
    margin-right: 1vmin;
}

.icon-title.ubisoft:before{
    background: url(../img/icons/ubisoft-logo.png) center no-repeat;
    background-size: contain;
}

.icon-title.autodesk:before{
    background: url(../img/icons/autodesk-logo.png) center no-repeat;
    background-size: contain;
}

.icon-title.mcafee:before{
    background: url(../img/icons/mcafee-logo.png) center no-repeat;
    background-size: contain;
}

.icon-title.mcgill:before{
    background: url(../img/icons/mcgill-logo.png) center no-repeat;
    background-size: contain;
}

.icon-title.art:before{
    background: url(../img/icons/designer-cup.png) center no-repeat;
    background-size: contain;
}

.icon-title.active.art:before{
    background: url(../img/icons/designer-cup-white.png) center no-repeat;
    background-size: contain;
}

.icon-title.programming:before{
    background: url(../img/icons/server.png) center no-repeat;
    background-size: contain;
}

.icon-title.active.programming:before{
    background: url(../img/icons/server-white.png) center no-repeat;
    background-size: contain;
}

.icon-title.education:before{
    background: url(../img/icons/book.png) center no-repeat;
    background-size: contain;
}

.icon-title.active.education:before{
    background: url(../img/icons/book-white.png) center no-repeat;
    background-size: contain;
}

.icon-title.achievement:before{
    background: url(../img/icons/target.png) center no-repeat;
    background-size: contain;
}

.icon-title.active.achievement:before{
    background: url(../img/icons/target-white.png) center no-repeat;
    background-size: contain;
}

.short-description {
    color: #35393e;
    line-height: 1.5;
    font-weight: 300;
    padding-left: 2vm;
    padding-left: 2vmin;
    margin: 2vm;
    margin: 2vmin;
    border-left: 1vm solid #b1c2d4;
    border-left: 1vmin solid #b1c2d4;
    margin: 1vm;
    margin: 1vmin;
}

.project-name{
    color: #005499;
    font-weight: 500;
    font-size: large;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 760px) {
    .header{
        width: 30px;
    }
    .header-btn.logo {
        width: 30px;
    }
    .header-btn:not(.logo) svg {
        width: 25px;
    }
    .header-btn-title{
        font-size: smaller;
    }
    .icon-title{
        font-size: 14px;
    }
}
  
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
