/*---------------------resume---------------*/

#main-container {
    display: flex;
    flex-direction: column;
}
.timeline-container{
    /* display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px; */
}

#timeline-text{
    position: absolute;
    width: 100%;
}

#svg-timeline{
    transform: translateY(-75%);
 }
 #timeline {
    background-color: #2EC4B6;
    height: 14px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
 #timeline .inside {
    position: absolute;
    height: 10px;
    background-color: #FDFFFC;
    width: 100%;
    top: 2px;
    right: 0;
}
 #timeline .dot {
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
 #timeline .dot:nth-child(1) {
     left: 20%;
     background-color: #1f2c39;
     border: 1px solid #1f2c39;
     -webkit-transform: scale(0);
     transform: scale(0);
 }
 #timeline .dot:nth-child(1):hover {
     border: 1vh solid #1f2c39;
 }
 
 #timeline .dot:nth-child(2) {
     left: 40%;
     background-color: #005499;
     border: 1px solid #005499;
 }
 
 #timeline .dot:nth-child(2):hover {
     border: 1vh solid #005499;
 }
 #timeline .dot:nth-child(3) {
     left: 60%;
     background-color: #FF9F1C;
     border: 1px solid #FF9F1C;
 }
 #timeline .dot:nth-child(3):hover {
     border: 1vh solid #FF9F1C;
 }
 #timeline .dot:nth-child(4) {
     left: 80%;
     background-color: #E71D36;
     border: 1px solid #E71D36;
 }
 #timeline .dot:nth-child(4):hover {
     border: 1vh solid #E71D36;
 }
 
 #timeline .dot date {
    font-size: 1.1rem;
    display: block;
    position: relative;
    top: -60px;
    text-align: center;
}
 #timeline .dot span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #FDFFFC;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.info-container {
    width: 100%;
    height: 70%;
    margin: 1em auto;
    position: relative;
    border: 4px solid #47a3da;
}

.sliders{
    position: relative;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
[id^='slider-']{
    width: 100%;
    color: #1f2c39;
    /* position: absolute; */
}
.content-slider .info-content {
    
}

.content-slider .article{
    /* position: absolute; */
    top: 0;
    background: rgb(236, 240, 241);
    padding: 20px;
    margin: 0 5vmin;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.content-slider .icon-title{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.icon-title:before{
    content: "";
    height: 25px;
    width: 25px;
    margin-right: 1vmin;
}

.icon-title.ubisoft:before{
    background: url(../img/icons/ubisoft-logo.png) center no-repeat;
    background-size: contain;
}

.project-info {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between;
}

.project-info .project-name{
    color: #005499;
    font-weight: 500;
    font-size: large;
}

.project-info .date{
    color: #77818C;
    font-weight: 300;
    font-style: italic;
    font-size: medium;
}

.article .short-description {
    color: #35393e;
    line-height: 1.5;
    font-weight: 300;
    padding-left: 2vmin;
    margin: 2vmin;
    border-left: 1vmin solid #b1c2d4;
}

.article .experience-bullets{
    overflow-y: auto;
    list-style-type: square;
    line-height: 2;
}

#slider-2,#slider-3,#slider-4 {
    opacity: 0;
    display: none;
}

#work-experience-autodesk, #programming-skills, #academic-achievement {
    display: none;
}

#timeline-text {
    height: 100%;
}
#timeline-text .timeline-title:nth-child(1){
    left: 20%;
}

#timeline-text .timeline-title:nth-child(2){
    left: 40%;
}

#timeline-text .timeline-title:nth-child(3){
    left: 60%;
}

#timeline-text .timeline-title:nth-child(4){
    left: 80%;
}

.timeline-title {
    position: absolute;
    top: 2vmin;
    line-height: 1;
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    font-weight: 400;
    text-align: center;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    padding-left: 22px;
}
#background-container {
    flex-grow: 0;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#background-container svg {

}

#colored-bridge-foot-1, #colored-bridge-foot-2, #excited {
    opacity: 0;
}