/*---------------------resume---------------*/

#main-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(236, 240, 241, 0.85);
    overflow: hidden;
}
.timeline-container{
    /* display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px; */
}

#svg-timeline{
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
 }
 #timeline {
    background-color: #2EC4B6;
    height: 14px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
 #timeline .inside {
    position: absolute;
    height: 10px;
    background-color: #FDFFFC;
    width: 100%;
    top: 2px;
    right: 0;
}
 #timeline .dot {
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
 #timeline .dot:nth-child(1) {
     left: 20%;
     background-color: #1f2c39;
     border: 1px solid #1f2c39;
     -webkit-transform: scale(0);
     transform: scale(0);
 }
 #timeline .dot:nth-child(1):hover {
     border: 1vm solid #1f2c39;
     border: 1vmin solid #1f2c39;
 }
 
 #timeline .dot:nth-child(2) {
     left: 40%;
     background-color: #005499;
     border: 1px solid #005499;
 }
 
 #timeline .dot:nth-child(2):hover {
     border: 1vm solid #005499;
     border: 1vmin solid #005499;
 }
 #timeline .dot:nth-child(3) {
     left: 60%;
     background-color: #FF9F1C;
     border: 1px solid #FF9F1C;
 }
 #timeline .dot:nth-child(3):hover {
     border: 1vm solid #FF9F1C;
     border: 1vmin solid #FF9F1C;
 }
 #timeline .dot:nth-child(4) {
     left: 80%;
     background-color: #E71D36;
     border: 1px solid #E71D36;
 }
 #timeline .dot:nth-child(4):hover {
     border: 1vm solid #E71D36;
     border: 1vmin solid #E71D36;
 }
 
 #timeline .dot span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #FDFFFC;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.info-container {
    width: 100%;
    height: 70%;
    margin: 1em auto;
    position: relative;
    border: 4px solid #47a3da;
}

.sliders{
    position: relative;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: space-around;
    /* justify-content: space-evenly; */
    flex-direction: column;
    align-items: center;
    flex-shrink:2;
    flex-grow: 2;
    word-break: break-word;
}
[id^='slider-']{
    
    height: 100%;
}
 .info-content {
    width: 100%;
    color: #1f2c39;
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
}

.article{
    display: flex;
    background: #FDFFFC;
    padding: 20px;
    margin: 0 5vm;
    margin: 0 5vmin;
    border-radius: 10px;
    flex-shrink: 2;
    flex-direction: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.article.hide{
    display: none;
}

.project-info {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

.project-info .date{
    color: #77818C;
    font-weight: 300;
    font-style: italic;
    font-size: medium;
    width: 33%;
    text-align: right;
}

.project-info .project-position{
    color: #77818C;
    font-size: larger;
    font-weight: 500;
    width: 33%;
}

.project-info .project-name{
    width: 34%;
    text-align: center;
}

.article .experience-bullets{
    overflow-y: auto;
    list-style-type: square;
    line-height: 2;
    flex-shrink: 2;
    margin: 0;
}

.article .experience-bullets.no-overflow{
    flex-shrink: 0;
}

.navs{
    justify-self: flex-end;
    margin-top: 1vm;
    margin-top: 1vmin;
    margin-bottom: 1vm;
    margin-bottom: 1vmin;
}

.slider-nav {
    display: flex;
    justify-content: space-around;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}
.slider-nav .icon-title {
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.slider-nav .icon-title.active {
    background:#c6c7cb;
    color: #FDFFFC;
    border-radius: 10px;
    font-weight: 500;
    padding: 5px 10px 5px 5px;
    margin: 0;
}

.slider-nav.hide {
    display: none;
}

#work-experience-autodesk, #programming-skills, #academic-achievement {
    display: none;
}

#timeline-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
#timeline-text .timeline-title:nth-child(1){
    margin-left: 15%;
}

#timeline-text .timeline-title:nth-child(2){
    margin-left: calc(10% + 10px);
}

#timeline-text .timeline-title:nth-child(3){
    margin-left: 10%;
}

#timeline-text .timeline-title:nth-child(4){
    margin-left: 10%;
}

.timeline-title {
    top: 2vm;
    top: 2vmin;
    line-height: 1;
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    color: #77818C;
    font-weight: 700;
    text-align: center;
    width: 10%;
}
#background-container {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    justify-self: flex-end;
}

#background-container svg {

}

.graffitis, #excited {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.overflow{
    overflow-y: auto !important;
    overflow-x: hidden;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 760px) {
    .info-content{
        font-size: 12px;
    }
    .icon-title:before {
        height: 12px;
        width: 12px;
    }
    .slider-nav .icon-title {
        font-size: 12px;
    }

    .timeline-title{
        font-size: 11px;
    }

    #timeline{
        height: 8px;
    }

    #timeline .dot{
        width: 14px;
        height: 14px;
    }

    #timeline-text .timeline-title:nth-child(2){
        margin-left: calc(10% + 7px);
    }

    #timeline .inside{
        height: 4px;
    }

    #timeline .dot span {
        width: 6px;
        height: 6px;
    }

    .project-info{
        line-height: 1;
    }

    .project-info .project-position, .project-name, .project-info .date{
        font-size: 11px;
    }

    .short-description {
        font-size: 12px;
    }
}

@media only screen and (max-device-width : 320px) {
    .timeline-title{
        font-size: 10px;
    }
}
    